body {
    background-image: url("http://online.tracker.ua/zskins/default_urban/images/login/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center !important;
    overflow: hidden;
}

/* .outer-parent .header {
    background-color: rgba(86, 98, 112, .7);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: url("http://online.tracker.ua/zskins/trackerua/images/login/logo_bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.outer-parent .form-container {
    background: transparent;
}

.outer-parent .wrapper {
    border-radius: 4px;
    box-shadow: unset;
}

.outer-parent #auth-form {
    width: 45%;
}

.outer-parent #auth-form input {
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #fff;
}

.outer-parent #auth-form input::placeholder {
    color: #fff
}

.outer-parent #auth-form input[type="submit"] {
    border-radius: 3px;
    background: #f1705d;
    transition: .4s;
}

.outer-parent #auth-form input[type="submit"]:hover {
    background: #7b6571;
    color: #fff;
    border: 0px solid #7b6571;
    box-shadow: 0em 0em 0px #A7A6A6;
}

.outer-parent .permissions-container {
    display: none;
} */
